#page-right{
}

#main-img{
  padding:0;
  margin:0;
}

#jumbo-container{
  padding-left:0;
  padding-right:0;
}

#my-jumbo{
  height:90vh;
  width:100%;
  border-radius:0;
  background: url('../../assets/img/paris.jpg') no-repeat center center;
  background-size:cover;
}

#service-block{
  padding-right:15px;
  padding-left:15px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  -webkit-display:flex;
  -webkit-justify-content:space-around;
  justify-content:space-around;
  -webkit-align-items:center;
  align-items:center;
  color:#fff;
}

.service-content{
  height:321px;
  text-transform:uppercase;
  margin:10px;
  padding-top:105px;
}

#first{
  background:#FF2E1E;
}

#second{
  background:#E0CD34;
}

#third{
  background:#11B21C;
}

.service-img{
  font-size:3.5em;
}

.blk-img-container{
  text-align:center;
}

.content-invisible{
  display:none;
}

.my-content{
  text-align:center;
  padding-bottom:10px;
  -webkit-transition:display 0.3s ease-in-out;
  transition:display 0.3s ease-in-out;
}

#tech-blk{
  padding-right:0;
}

#m-row{
  margin-left:0;
  margin-right:0;
}

#tech-row{
  margin-right:0;
}

.more-btn{
  border-radius:15px;
  border:2px solid #ffffff;
  color:#fff;
  font-size:1.2em;
  padding-left:20px;
  padding-right:20px;
}

.more-btn:hover{
  border-color:#282828;
  background:#282828 !important;
  -webkit-transition:background, border-color 0.3s ease-in-out;
  transition:background, border-color 0.3s ease-in-out;
  color:#ffffff;
}

.invisible-text{
  font-size:1em;
  padding-top:5px;
  padding-bottom:5px;
}

#btn-1{
  background:#FF2E1E;
}

#btn-2{
  background:#E0CD34;
}

#btn-3{
  background:#11B21C;
}

#portfolio-wrapper{
  padding-top:100px;
}

#port-para-text{
  width:70%;
  margin: 0 auto 40px;
}

.port-btn{
  border-radius:50px;
  padding:5px 20px;
  margin:0px 3px;
  font-weight:300;
  color:#999;
}

.port-btn:hover{
  color:#fff;
  background-color:#28F;
  -webkit-transition:all 300ms ease-in-out;
  transition:all 300ms ease-in-out;
}

#port-btn-container{
  margin:0 auto;
  text-align:center;
}

button.is-checked{
  color:#fff;
  text-shadow:0 -1px hsla(0, 0%, 0%, 0.8);
  background-color:#28F !important;
}

.button:active{
  box-shadow:inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

#port-wrapper{
  padding:0;
  margin:0;
}

#port-img-row{
  padding: 50px 0 180px;
}

#port-img-row-2{
  padding:0;
  margin:0;
}

#port-img-container{
  margin-bottom:10px;
}

.my-thumbnail{
  width:25%;
}

.thumbnail{
  border:none;
  padding:0;
  margin:12px;
}

